[submodule "libs/unity"]
	path = libs/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/FreeGLUT"]
	path = libs/FreeGLUT
	url = https://github.com/freeglut/freeglut.git
